Study and write a python program to compute 
a) cetral tendency measures mean, mode and median 
b) measure of dispersion:-variance and standard devaition

In analysing statistical data, it is useful to have numbers to describe the complete set of data.

In [ ]:
import statistics as st
print('The average speed of 13 cars are:-')
thislist=[99,86,87,88,111,86,103,87,94,78,77,85,86,87]
c1 = st.mean(thislist)
print(c1)

The average speed of 13 cars are:-
89.57142857142857

In [ ]:
print('The median speed of 13 cars are:-')
c2 = st.median(thislist)
c2

The median speed of 13 cars are:-

87.0

In [ ]:
print('The modal speed of 13 cars are:-')
c3 = st.multimode(thislist)
c3

The modal speed of 13 cars are:-

[86, 87]

In [ ]:
print('The standard deviation is:-')
c4 = st.stdev(thislist)
c4

The standard deviation is:-

9.28782731664065

In [ ]:
print('The variance is:-')
c5 = st.variance(thislist)
c5

The variance is:-

86.26373626373626

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('ml.csv')
df

  Student_no  Physics  Chemistry  Maths  English
0  Student-1       32         24     30       40
1  Student-2       17         24     21       28
2  Student-3       50         25     28       32
3  Student-4       25         34     21       48
4  Student-5       17         31     18       28
5  Student-6       35         24     19       42

In [ ]:
df.mean()

Student_no    29.333333
Physics       27.000000
Chemistry     22.833333
Maths         36.333333
dtype: float64

In [ ]:
df.describe

<bound method NDFrame.describe of   Student_no  Physics  Chemistry  Maths  English
0  Student-1       32         24     30       40
1  Student-2       17         24     21       28
2  Student-3       50         25     28       32
3  Student-4       25         34     21       48
4  Student-5       17         31     18       28
5  Student-6       35         24     19       42>

In [ ]:
ages = [5,31,43,48,50,41,7,11,15,39,88,82,32,2,8,6,25,36,27,61,31]
d = pd.Series(ages)
d.quantile(0.75)

43.0

In [ ]:
d.quantile(0.9)

61.0

In [ ]:
import numpy as np
ages = [5,31,43,48,50,41,7,11,15,39,88,82,32,2,8,6,25,36,27,61,31]
q3,q1 = np.percentile(ages,[75,25])
print(q3,q1)
itr=q3-q1
itr

43.0 11.0

32.0